body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css-fix {
  white-space: pre-wrap; /* or pre-line */
  margin: 1em;
}
.producto{
  position: relative;
  right: 125px;
}

.precio{
  position: relative;
  right: 30px;
}

.cantidad{
  position: relative;
  right: -60px;
}
