body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 0.5em 1em;
  margin: 1em;
  text-align: center;
  background-color: cadetblue;
}

button:active{
  background-color: aliceblue;
}

span{
  padding: 0.5em 1em;
  margin: 1em;
  text-align: center;
}
